* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #85b624;
  color: #dce7cf;
  display: flex;
  flex-direction: column;
}

input {
  margin-left: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #16a34a;
  color: #dce7cf;
}

.name {
  text-align: center;
  font-size: 2rem;
}

.display-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-wrapper > * {
  margin: 20px 0;
}

.game-modes {
  display: flex;
  flex-direction: column;
}

.mode {
  padding: 25px;
  margin: 25px;
  background-color: #397072;
  border: none;
  border-radius: 10px;
}

.naming-form {
  background-color: #2563eb;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.naming-form > * {
  margin: 10px;
}

.heading {
  text-align: center;
  font-size: 1.5rem;
}

.field {
  display: flex;
  align-items: center;
}

.form-actions {
  display: flex;
  margin-top: 10px;
}

.play, .back {
  flex: 1;
  margin: 0 5px;
}

.game {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  justify-content: center;
}

.info {
  text-align: center;
  padding: 25px;
}

.board {
  justify-self: center;
  background-color: #fffbeb;
  display: grid;
  grid-template-rows: repeat(6, min(50px, 10vw));
  border: 3px solid #fcd34d;
  border-width: 3px 0 0 3px;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, min(50px, 10vw));
}

.square {
  border-radius: 0;
  padding: 0;

  background-color: transparent;
  border: 3px solid #fcd34d;
  border-width: 0 3px 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  border-radius: 15px;
  width: 30px;
  height: 30px;
}

.piece.one {
  background-color: #dc2626;
}

.piece.two {
  background-color: #2563eb;
}

.piece.won {
  background-color: #16a34a;
}

.end-page {
  justify-content: flex-start;
}

.result {
  font-size: 1.5rem;
}

.scores {
  background-color: #2563eb;
  padding: 25px 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.entry {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
}

.score {
  margin-left: 25px;
}

.game-actions > *, .end-actions > * {
  padding: 25px 50px;
}

.plug {
  position: absolute;
  bottom: 0;
}